body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a1a2f;
  color: #e8f1f8;
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #102840;
  padding: 20px;
  text-align: center;
  color: #e8f1f8;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 26px;
}

.section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.section-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #e8f1f8;
}

.travel-card {
  background-color: #c7e6ff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #9bc9e9;
  margin-bottom: 25px;
  color: #0a1a2f;
}

.travel-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 6px;
}

.travel-card h3 {
  margin-top: 12px;
  font-size: 20px;
}

.travel-card p {
  margin-top: 8px;
  font-size: 14px;
}


footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: #102840;
  color: #e8f1f8;
}
